.main {
  min-height: 100%;
}

.mainTitle {
  text-align: center;
}

.categoryName {
  padding: 0 12px;
}

.products {
  padding: 24px 0 24px 24px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}