.container {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(250px + 24px);
}
.image {
    margin-right: 16px;
    width: 60px;
    height: auto;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.info {
    width: calc(250px - 80px);
    display: flex;
    justify-content: space-between;
}
.name {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
.price {
    margin: 0;
    font-size: 16px;
}
.fav {
    margin-left: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.favButton {
    background: none;
    border: none;
    outline: none;
}

.favIcon {
    animation-name: favAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease;
}

@keyframes favAnimation {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
  }